body {
    background: rgba(146, 226, 202, 0.205);
  } 
    .wrapper {
    margin: 0 auto;
    width: 60%;
    padding-bottom: 40px;
  }

    h1, h2, h6 {
    font-family: 'Gabriela', serif;
    color: rgb(77, 37, 37);
    text-align: center;
    
  }
  img {
    max-width: 100%;
    width: 100%;
    height: auto;
  }
  #content {
    padding: 20px;
    background: rgba(199, 117, 195, 0.288);
  }
  p {
    font-size: 1em;
  }
  a {
    color: rgb(173, 0, 0);
    text-decoration: none;
    font-size: x-large;
  }